.col-lg-4
  .follower
    img(class="follower__image", src=user.profilePicture)
    div.follower__user-info
      span.follower__handle
        - if (user.github !== undefined)
          a(href="/users/" + user._id) @#{user.github.login}
