extends ../layouts/default

block content
  .row 
    .col-md-4.login-container
      h1 Login

      form.center.form-inline.confirm.settings-tweet(action="/login", method="post")
        div.form-group
          label(for="username") Email
          input.form-control(name="email", placeholder="Enter email address", type="email")
        div.form-group
          label(for="password") Password
          input.form-control(name="password", placeholder="Enter password")

          button.btn.btn-danger(type="submit") Register


      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li = error.type
